# Archivos que el IDE genera. No necesarios para el repositorio.
.idea/
.vscode/
**/.ipynb_checkpoints/
__pycache__/
.venv/

# Credenciales de terceros y de confidencialidad
backup/
synthetic-asl-alphabet/
**/kaggle.json

# Modelos y datasets procesados. Estos están disponibles en releases.
**/models/
**/processed_data/
**/Test_Alphabet/
**/Train_Alphabet/
Test_Alphabet.csv
Train_Alphabet.csv